.slide{
}

#slides{
  height:1000px;
}

body{

background-color:black;
overflow:hidden;
}

.slide{
 width:100%;
text-align:center;
}
#media{
width::50%;
margin: 0 auto;
display: inline-block;
}

#text{
color:white;
font-family:"futura";
position:absolute;
font-size:100px;
top:300px;
text-align:left;
}
